body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F8E9D5;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 30px 200px;
  background-color: #F8E9D5;
  /*border-bottom: 2px solid #d9d0c0;*/
}

/* LOGO */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  color: #482A1E;
  letter-spacing: 2px;
  line-height: 1;
}

.logo p {
  margin: 8px 0 0;
  font-size: 16px;
  font-weight: 550;
  color: #140302;
  letter-spacing: 2px;
}

/* NAVIGATION */
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  align-items: center; 
}

nav li {
  display: flex; 
}

nav a {
  text-decoration: none;
  color: #140302;
  font-size: 24px;
  font-family: 'Playfair Display';
  font-weight: 500;
  transition: color 0.2s ease;
  position: relative;
  display: inline-block;
  padding-bottom: 5px; 
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8B4513;
  transition: width 0.3s ease;
}

nav a:hover {
  color: #8B4513;
}

nav a:hover::after {
  width: 100%;
}


